<div class="container">
  <hr>
    <div class="row">
          <div class="col-1">
            <label for="name">Name:</label>
          </div>
          <div class="col-8">
            <input type="text" class="form-control" [(ngModel)]="name">
          </div>
          <div class="col-3">
              <button type="button" class="btn btn-outline-primary" (click)="onClearField()" [disabled]="name.length==0">Clear</button>
          </div>
    </div>
    <div>
      <div class="row">
        <div class="col-12 form-inline">
            Name's length:{{name.length}}
        </div>
      </div>
      
    </div>
</div>